# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# no links to other files
*.lnk 

# don't sync large posteriors
Posteriors/BadenW_Age_CommonEta_800_iter_1_chains_2020-07-21.Rds
Posteriors/Bavaria_Age_CommonEta_800_iter_4_chains_2020-07-21.Rds
Posteriors/Hubei_Age_CommonEta_800_iter_4_chains_2020-07-27.Rds
Posteriors/Lombardy_Age_CommonEta_800_iter_4_chains_2020-07-25.Rds
Posteriors/Lombardy_Gender_CommonEta_1000_iter_4_chains_2020-07-21.Rds
Posteriors/Spain_Age_CommonEta_200_iter_3_chains_2020-07-18.Rds
Posteriors/Spain_Age_CommonEta_800_iter_4_chains_2020-07-23.Rds
Posteriors/Spain_Gender_CommonEta_1000_iter_4_chains_2020-07-21.Rds
data/00_generatedQuantities.Rds